.header{
    background-color: #0c325f;
    height: 50px;
    color: white;
    margin-bottom: 50px;
}
#tampil{
    background-color: #efefef;
    height: 50px;
}
.card{
    margin-top: 20px;
}
#kategori{
    color: grey;
}
#btn_hapus{
    color: red;
}
form{
    height: 1000px;
}
 .btn_tambah {
            background-color: #30aee4;
}

.btn_tambah button {
    color: white;
}

.btn_tambah:hover {
            text-decoration: none;
            color: white;
}

        .tambahan {
            float: right;
            color: red;
}

        .tambahan:hover {
            text-decoration: none;
            color: red;

}

        .tambahan_left {
         float: left;
}
